<div class="introduction">
  <h1>About me</h1>
  <div class="intro">
    <div class="intro-svg">
      <img src="assets/multitasking.svg" alt="person-svg">
    </div>
    <div class="intro-matter">
      <ul>
        <p>
          As a dedicated and driven developer, I am deeply passionate about leveraging technology to solve real-world
          problems and enhance user experiences. With a solid foundation in front-end design and back-end development, I
          thrive in bringing innovative ideas to life.</p>
        <p>My expertise in frameworks like <strong>Bootstrap</strong> and
          languages such as <strong>PHP</strong>, combined with experience managing databases using <strong>SQL</strong>,
          enables me to craft seamless, efficient solutions.</p>
        <p>I am a firm believer in collaboration and continual
          learning, evident in my utilization of tools like <strong>GitHub</strong> to track project progress and refine
          my skills. Above all, I am committed to delivering high-quality results that not only meet but exceed
          expectations, driving positive impact and advancement in the digital landscape.
        </p>
      </ul>
    </div>
  </div>
</div>
