<div class="contact">
  <div class="text-section">
    <h1>Sparking imagination,<br /> one connection at a time.</h1>
    <h6>
      Always eager to network with fellow creatives and curious minds
    </h6>
    <a
      href="mailto:tejasbc83@gmail.com"
      class="semi-icon"
      data-tooltip="Email"
      style="--i: 0"
    >
      <i class="fas fa-envelope"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/tejab83/"
      target="_blank"
      class="semi-icon"
      data-tooltip="LinkedIn"
      style="--i: 1"
    >
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a
      href="https://www.instagram.com/the.demon_god/"
      target="_blank"
      class="semi-icon"
      data-tooltip="Instagram"
      style="--i: 2"
    >
      <i class="fab fa-instagram"></i>
    </a>
    <a
      href="https://github.com/tbolem"
      target="_blank"
      class="semi-icon"
      data-tooltip="GitHub"
      style="--i: 3"
    >
      <i class="fab fa-github"></i>
    </a>
  </div>

  <div class="image-section">
    <img src="contact.jpg" alt="Absurd Illustration" />
  </div>
</div>
