<div class="contact">
  <div class="text-section">
    <h1>Sparking imagination,<br /> one connection at a time.</h1>
    <h6>
      Always eager to network with fellow creatives and curious minds
    </h6>
    <a
      href="mailto:tejasbc83@gmail.com"
      class="semi-icon"
      data-tooltip="Email"
      style="--i: 0"
    >
      <i class="fas fa-envelope"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/tejab83/"
      target="_blank"
      class="semi-icon"
      data-tooltip="LinkedIn"
      style="--i: 1"
    >
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a
      href="https://www.instagram.com/the.demon_god/"
      target="_blank"
      class="semi-icon"
      data-tooltip="Instagram"
      style="--i: 2"
    >
      <i class="fab fa-instagram"></i>
    </a>
    <a
      href="https://github.com/tbolem"
      target="_blank"
      class="semi-icon"
      data-tooltip="GitHub"
      style="--i: 3"
    >
      <i class="fab fa-github"></i>
    </a>
  </div>

  <div class="image-section">
    <img src="contact.jpg" alt="Absurd Illustration" />
  </div>
</div>

<div class="image-text">
  <p>Thanks for stopping by!</p>
  <svg class="rotating" width="100" height="100" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_133_2)">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M50.7143 0H0.71429V50C0.71429 75.462 19.7466 96.4788 44.361 99.6002C19.4015 102.402 4.22025e-06 123.578 2.18557e-06 149.286L0 199.286H50C75.462 199.286 96.4788 180.253 99.6002 155.639C102.402 180.599 123.578 200 149.286 200H199.286V150C199.286 124.538 180.253 103.521 155.639 100.4C180.599 97.5984 200 76.422 200 50.7143V0.714286L150 0.714284C124.538 0.714282 103.521 19.7466 100.4 44.361C97.5984 19.4015 76.422 0 50.7143 0Z" fill="url(#paint0_linear_133_2)"/>
  </g>
  <defs>
    <linearGradient id="paint0_linear_133_2" x1="27.5" y1="19" x2="149" y2="174.5" gradientUnits="userSpaceOnUse">
      <stop stop-color="#FFD9A0"/>
      <stop offset="1" stop-color="#FFF5F1"/>
    </linearGradient>
    <clipPath id="clip0_133_2">
      <rect width="200" height="200" fill="white"/>
    </clipPath>
  </defs>
</svg>  
</div>


