<div class="contact" >
  <div class="container">
    <h1>I am a Program Analyst at Cyber Infotech in Hagerstown, Maryland</h1>

    <div class="icons">
      <a href="mailto:bolemteja25@gmail.com" class="icon">
        <img src="https://img.icons8.com/ios-filled/50/ffffff/send-mass-email.png" alt="Email">
      </a>
      <a href="tel:+13309036685" class="icon">
        <img src="https://img.icons8.com/ios-filled/50/ffffff/phone.png" alt="Phone">
      </a>
      <a href="https://www.linkedin.com/in/tejab83/" class="icon">
        <img src="https://img.icons8.com/ios-filled/50/ffffff/linkedin.png" alt="LinkedIn">
      </a>
      <a href="https://github.com/tbolem" class="icon">
        <img src="https://img.icons8.com/ios-filled/50/ffffff/github.png" alt="GitHub">
      </a>
    </div>

  </div>
  <div class="contact-svg">
    <img src="assets/contact.svg" alt="person-svg">
  </div>
</div>
