.carousel
  width: 80%
  margin: 20px auto
  font-family: -apple-system, serif
  .carousel-nav
    display: flex
    justify-content: space-around
    background: #353935
    color: white
    padding: 5px
    margin: 5px
    border-radius: 5px
    a
      color: white
      text-decoration: none
      padding: 5px
    a:hover
      background: white
      color: black
      border-radius: 5px
    .skills
      margin: 5px 0
      .dec
        overflow: hidden
        width: 100%
        background: #A1C398
        color: #FA7070
        h2
          text-align: center
        .all-icons
          display: flex
          justify-content: space-around
          flex-wrap: wrap
