.tenka
  width: 80%
  margin: 20px auto
  font-family: -apple-system, serif
  h2
    text-align: center
    font-weight: bold
  .cnav
    display: flex
    justify-content: space-around
    padding: 10px
    margin: 5px
    border-radius: 5px
    a
      color: grey
      text-decoration: none
      padding: 5px
      font-weight: bold
    a:hover
      color: black
      border-bottom: solid cadetblue 2px
    .dash-1
      margin: 10px 0
      background: #A1C398
      color: #FA7070
      .sections
        width: 80%
        margin: auto
        h2
          background: #F2613F
          color: #0C0C0C
          padding: 5px 10px
          border-radius: 5px
          text-align: center
        .all-icons
          display: flex
          justify-content: space-around
          align-items: center
          flex-wrap: wrap

/* Styles for Phone*/
@media screen and (max-width: 600px)
  .tenka
    .cnav
      a
        padding: 2px
        font-size: 16px
