*
  font-family: -apple-system
.navbar-mine
  width: 90%
  display: flex
  flex-direction: row
  align-content: center
  justify-content: space-between
  margin: auto
  h1
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%)
    background-clip: text
    color: transparent
    font-family: Jenthill, sans-serif
    font-size: 2.7vw
    text-align: center
    margin: auto
    padding: 10px 5px
  .nav-links
    display: flex
    flex-direction: row
    justify-content: space-evenly
    align-content: center
    width: 60%
    border-radius: 5px
    padding: 5px 10px
    margin-top: 8px
    a
      font-family: -apple-system, serif
      text-decoration: none
      color: #0E2954
      padding: 3px 10px
      font-weight: bold
      font-size: 22px
      border-bottom: white solid 3px
    a:hover
      // background-color: white
      color: #3498db
      border-bottom: #0E2954 solid 3px

/* Navbar for the phones*/
nav
  display: none /* Maintain existing display property */
  opacity: 0 /* Hide the nav by default */
  transition: opacity 0.5s ease-in-out

.d-none
  display: none /* Hide by default */

.d-md-block
  display: block !important /* Show only on medium screens and above */

/* Styles for Phone*/
@media screen and (max-width: 600px)
  .navbar-mine
    display: none
  nav
    opacity: 1
    background: white
    display: flex
    justify-content: space-between
    padding: 0
    h1
      background: linear-gradient(to right, #30CFD0 0%, #330867 100%)
      background-clip: text
      color: transparent
      font-family: Jenthill, sans-serif
      text-align: center
      width: 35vw
      padding: 10px
    h5
      background: linear-gradient(to right, #30CFD0 0%, #330867 100%)
      background-clip: text
      color: transparent
      font-family: Jenthill, sans-serif
      font-size: 32px
    .container
      width: 50%
      padding: 0
      margin: 0
      .offcanvas
        background: #161617
        .offcanvas-body
          color: white
          font-size: 24px
          font-weight: bold
    button
      font-size: 18px
      margin: 8px 8px 8px 0



/* All Key Frames */
@keyframes circle-in-hesitate
  0%
    clip-path: circle(0%)
  40%
    clip-path: circle(40%)
  100%
    clip-path: circle(125%)

[transition-style="in:circle:hesitate"]
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both


