<!-- Nav Bar -->
<div class="navbar-mine" id="home">
  <a href="">Teja Bolem</a>
  <div class="nav-links">
    <a href="">Work</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </div>
</div>

<nav>
  <a href="">Teja Bolem</a>
  <div class="container">
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" [ngClass]="{ 'show': isOffcanvasOpen }">
      <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
                (click)="closeOffcanvas()"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="" (click)="closeOffcanvas()">Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about" (click)="closeOffcanvas()">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact" (click)="closeOffcanvas()">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <button type="button" class="btn btn-light offcanvas-toggle float-end d-none d-md-block" (click)="toggleOffcanvas()">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28" viewBox="0 0 50 50">
        <path d="M 5 8 A 2.0002 2.0002 0 1 0 5 12 L 45 12 A 2.0002 2.0002 0 1 0 45 8 L 5 8 z M 5 23 A 2.0002 2.0002 0 1 0 5 27 L 45 27 A 2.0002 2.0002 0 1 0 45 23 L 5 23 z M 5 38 A 2.0002 2.0002 0 1 0 5 42 L 45 42 A 2.0002 2.0002 0 1 0 45 38 L 5 38 z"></path>
      </svg>
    </button>
  </div>
</nav>

<router-outlet></router-outlet>


