.welcome
    width: 80%
    margin: auto
    border-radius: 8px
    background: linear-gradient(135deg, #fddccf, #d8dce5, #9edbf5)

    img
        width: 50%

@media only screen and (max-width: 600px)